.emailRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  height: 50px;
  cursor: pointer;
  z-index: 999;

  &:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
  }
  &__options {
    display: flex;
  }
  &__title {
    flex: 0.3;
    font-size: 13px;
  }
  &__message {
    display: flex;
    align-items: center;
    font-size: 13px;
    flex: 0.8;

    & > h4 {
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      //常需要限制文字的字數，當文字超過限制時會自動顯示”…”的刪節號。
      //在使用text-overflow: ellipsis; 時，需要一併設定 white-space: nowrap;
      //及 text-overflow: ellipsis; 才會有效果。
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &__description {
    font-weight: 400;
    color: gray;
  }
  &__time {
    padding-right: 15px;
    font-size: 9px;
    font-weight: bold;
  }
}
