.app {
  height: 100vh;
}

.app__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left > img {
  margin-left: 5px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: .7;
      -ms-flex: .7;
          flex: .7;
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
}

.header__middle > .MuiSvgIcon-root {
  color: gray;
}

.header__middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  font-size: medium;
  outline-width: 0;
  background-color: transparent;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
  max-width: 300px;
  padding-right: 20px;
}

.sidebar__compose {
  margin-top: 15px !important;
  margin-left: 10px !important;
  margin-bottom: 15px !important;
  color: gray;
  padding: 15px !important;
  border-radius: 30px !important;
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.sidebarOption:hover,
.sidebarOption:hover > h3,
.sidebarOption:hover > p, .sidebarOption--active,
.sidebarOption--active > p,
.sidebarOption--active > h3 {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 5px;
}

.sidebarOption > h3 {
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
  font-size: 14px;
}

.sidebarOption > p {
  display: none;
  font-weight: 300;
}

.sidebarOption:hover > p {
  display: inline;
}

.sidebarOption--active > p {
  display: inline !important;
}

.emailList {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: scroll;
}

.emailList__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: #fff;
  z-index: 999;
  padding-right: 10px;
}

.emailList__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: #fff;
  z-index: 999;
}

.mail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: whitesmoke;
}

.mail__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.mail__toolsLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail__body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  padding: 20px;
  height: 100vh;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.mail__bodyHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 20px;
  position: relative;
}

.mail__bodyHeader > h2 {
  font-weight: 400;
  margin-right: 20px;
}

.mail__bodyHeader > .mail__title {
  font-weight: 300;
  margin-left: 20px;
}

.mail__important {
  color: #e8ab02 !important;
}

.mail__message {
  padding: 20px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.mail__time {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 12px;
  color: gray;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-width: 2px;
  border-width: 0 !important;
  cursor: pointer;
  padding: 15px;
  min-width: 200px;
}

.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}

.section > h4 {
  font-size: 14px;
  margin-left: 15px;
}

.emailRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid whitesmoke;
  height: 50px;
  cursor: pointer;
  z-index: 999;
}

.emailRow:hover {
  border-top: 1px solid whitesmoke;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.emailRow__title {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  font-size: 13px;
}

.emailRow__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.emailRow__message > h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
}

.emailRow__time {
  padding-right: 15px;
  font-size: 9px;
  font-weight: bold;
}
/*# sourceMappingURL=all.css.map */